/* Global custom CSS rules */
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
  }
  
  h1, h2 {
    font-weight: normal;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    /* color: #42b983; */
  }

  /*Tender styles*/

.offer-submission{
  background: #0E9577;
  color: #000;
}
.key-submission{
  background: #04DEAD;
  color: #000;
}
.unsealing {
  background: #F1EFB9;
  color: #000;
}
.selection {
  background: #FBFAE1;
  color: #000;
}
.ended {
  background: #ccc;
  color: #000;
}

.offer-submission:hover{
  opacity: 0.9;
  color: #000;
}
.key-submission:hover{
  opacity: 0.9;
  color: #000;
}
.unsealing:hover{
  opacity: 0.9;
  color: #000;
}
.selection:hover{
  opacity: 0.9;
  color: #000;
}
.ended:hover{
  opacity: 0.9;
  color: #000;
}

/* offers styles*/

.offer-list-item {
  background: #F1EFB9;
  color: #000;
}

.offer-list-item:hover {
  opacity: 0.9;
  color: #000;
}